<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>lol.bananameter.batchclip</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>batchclipapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Clearintent</string>
		<string>GetIntent</string>
		<string>DeleteIntent</string>
		<string>StartIntent</string>
		<string>CancelIntent</string>
		<string>Intent1</string>
		<string>BatchPasteIntent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Bananameter Labs</string>
	<key>NSMainNibFile</key>
	<string>Application</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BatchCopyIntent</string>
		<string>BatchPasteIntent</string>
		<string>CancelIntent</string>
		<string>ClearIntent</string>
		<string>DeleteIntent</string>
		<string>GetIntent</string>
		<string>SelectIntent</string>
		<string>StartIntent</string>
	</array>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jpmhouston/Cleepp/forkmain/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>v+syb2eSsDiT0B52v/p9VEn2K3AYaKE1qDHeyvTE07Y=</string>
</dict>
</plist>
